*,*::before, *::after{
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

h2{
    margin-bottom: 1rem;
}

img{
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 2rem;

}

section{
    margin: 3rem 0;
}

.container{
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}

.section-1 p{
    margin: 1rem 0.5;
    padding: 1rem 0.5;
}

.first-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;

    text-align: center;
}

.first-row p{
    margin: 1rem 0;
}

.second{
    margin-top: 2rem;
}

@media(max-width:850px){
    .first-row{
        grid-template-columns: repeat(2,1fr);
    }
}


@media(max-width:500px){
    .first-row{
        grid-template-columns: 1fr;
    }
}

